<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liste des Annonces</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/webjars/bootswatch/4.5.2/flatly/bootstrap.min.css"
    />

    <style>
      .table-hover tbody tr:hover {
        background-color: #f9f9f9;
      }
      .table th,
      .table td {
        vertical-align: middle;
        text-align: center;
      }
      .btn-warning,
      .btn-danger {
        width: 100px;
      }
      .action-btns {
        display: flex;
        flex-direction: row; /* Alignement côte à côte */
        align-items: center;
        justify-content: center;
        gap: 10px; /* Espace entre les boutons */
      }
      img {
        display: block;
        margin: 0 auto;
        max-width: 70px;
        height: auto;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Accueil</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin/annonces">Admin</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container mt-4">
      <h1 class="text-center">Liste des Annonces</h1>
      <div class="text-right mb-3">
        <a href="/admin/annonces/ajouter" class="btn btn-primary"
          >Ajouter Annonce</a
        >
      </div>
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th style="width: 30px">ID</th>
            <th>Titre</th>
            <th>Type de Bien</th>
            <th>Description</th>
            <th>Localisation</th>
            <th style="width: 70%">Prix</th>
            <th style="width: 90px">Superficie</th>
            <th style="width: 120px">Nombre de Pièces</th>
            <th>Catégorie</th>
            <th>Photo</th>
            <th>Contact</th>
            <th>Actions</th>
            
          </tr>
        </thead>
        <tbody>
          <tr th:if="${#lists.isEmpty(annonces)}">
            <td colspan="10" class="text-center">Aucune annonce disponible.</td>
          </tr>
          <tr th:each="annonce : ${annonces}">
            <td th:text="${annonce.id}"></td>
            <td th:text="${annonce.titre}"></td>
            <td th:text="${annonce.bien.type}"></td>
            <td th:text="${annonce.description}"></td>
            <td th:text="${annonce.localisation}"></td>
            <td th:text="${annonce.prix}"></td>
            <td th:text="${annonce.superficie}"></td>
            <td th:text="${annonce.nombrePieces}"></td>
            <td th:text="${annonce.categorie}"></td>
            <td>
              <img
                th:src="@{/images/{photo}(photo=${annonce.photoUrl})}"
                alt="Photo de l'annonce"
                class="img-rounded"
                style="max-height: 150px; max-width: 150px"
              />
            </td>
            <td th:text="${annonce.contact}"></td>

            <td class="action-btns">
              <a
                th:href="@{/admin/annonces/modifier/{id}(id=${annonce.id})}"
                class="btn btn-warning"
                >Modifier</a
              >
              <a
                th:href="@{/admin/annonces/supprimer/{id}(id=${annonce.id})}"
                class="btn btn-danger"
                onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette annonce ?');"
                >Supprimer</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <ul class="pagination justify-content-center">
          <li
            class="page-item"
            th:classappend="${currentPage == 0} ? 'disabled'"
          >
            <a
              class="page-link"
              th:href="@{/admin/annonces(page=${currentPage - 1})}"
              >&laquo;</a
            >
          </li>
          <li
            class="page-item"
            th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
            th:classappend="${pageNum == currentPage} ? 'active'"
          >
            <a
              class="page-link"
              th:href="@{/admin/annonces(page=${pageNum})}"
              th:text="${pageNum + 1}"
            ></a>
          </li>
          <li
            class="page-item"
            th:classappend="${currentPage == totalPages - 1} ? 'disabled'"
          >
            <a
              class="page-link"
              th:href="@{/admin/annonces(page=${currentPage + 1})}"
              >&raquo;</a
            >
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
